NET "clk" LOC = "P89" | IOSTANDARD = LVCMOS25 ;

NET "HSYNC"     LOC = "P83" | DRIVE = 2;	
NET "VSYNC"     LOC = "P85" | DRIVE = 2;	
NET "RED<2>"    LOC = "P54" | DRIVE = 2;	
NET "RED<1>"    LOC = "P58" | DRIVE = 2;	
NET "RED<0>"    LOC = "P61" | DRIVE = 2;	
NET "Green<2>"  LOC = "P63" | DRIVE = 2;	
NET "Green<1>"  LOC = "P66" | DRIVE = 2;	
NET "Green<0>"  LOC = "P68" | DRIVE = 2;	
NET "Blue<1>"   LOC = "P71" | DRIVE = 2;	
NET "Blue<0>"   LOC = "P78" | DRIVE = 2;

NET switches(7) LOC = "P91" | IOSTANDARD=LVCMOS25;
NET switches(6) LOC = "P92" | IOSTANDARD=LVCMOS25;
NET switches(5) LOC = "P94" | IOSTANDARD=LVCMOS25;
NET switches(4) LOC = "P95" | IOSTANDARD=LVCMOS25;
NET switches(3) LOC = "P98" | IOSTANDARD=LVCMOS25;
NET switches(2) LOC = "P2" | IOSTANDARD=LVCMOS25;
NET switches(1) LOC = "P3" | IOSTANDARD=LVCMOS25;
NET switches(0) LOC = "P4" | IOSTANDARD=LVCMOS25;

NET LEDs(7) LOC = "P5"  | IOSTANDARD=LVCMOS25;
NET LEDs(6) LOC = "P9"  | IOSTANDARD=LVCMOS25;
NET LEDs(5) LOC = "P10" | IOSTANDARD=LVCMOS25;
NET LEDs(4) LOC = "P11" | IOSTANDARD=LVCMOS25;
NET LEDs(3) LOC = "P12" | IOSTANDARD=LVCMOS25;
NET LEDs(2) LOC = "P15" | IOSTANDARD=LVCMOS25;
NET LEDs(1) LOC = "P16" | IOSTANDARD=LVCMOS25;
NET LEDs(0) LOC = "P17" | IOSTANDARD=LVCMOS25;

NET JOY_LEFT LOC = "P34";
NET JOY_RIGHT LOC="P36";
#NET JOY_UP	LOC="P25";
#NET JOY_DOWN LOC="P32";
#NET JOY_PUSH LOC="P22";
